<form [formGroup]="cadastroForm" (ngSubmit)="submiteForm()">
    <label>
        Nome:
        <input type="text" formControlName="firstName">
    </label>
    <span *ngIf="cadastroForm.get('firstName')?.errors && (cadastroForm.get('firstName')?.touched || cadastroForm.get('firstName')?.dirty)">Nome é um campo obrigatório</span>
    <br>
    <br>
    <label>
        Sobrenome:
        <input type="text" formControlName="lastName">
    </label>
    <br>
    <br>
    <button type="submit">Enviar</button>
    {{cadastroForm.get('firstName')?.valid}}
    {{cadastroForm.get('firstName')?.touched}}
    {{cadastroForm.get('firstName')?.dirty}}
</form>