<p *ngIf="condition; else elseBlock">True</p>
<ng-template #elseBlock>
    <p>False</p>
</ng-template>

<hr>

<p *ngIf="conditionClick">True</p>

<p *ngIf="!conditionClick">False</p>

<button (click)="onClick()">Clicar</button>
<br>
<br>

<hr>

<ul>
    <li *ngFor="let item of list, let i = index" (click)="onClickListEvent(i)">[{{i}}] - {{item.nome}} - {{item.idade}} anos</li>
</ul>
<button (click)="addOnClick()">Add</button>

<br>
<br>

<ul>
    <li *ngFor="let item of twainNumbers, let i = index, first as isFirst">{{item.n}} <span *ngIf="isFirst">default</span></li>
</ul>

<hr>

<div [ngSwitch]="name">
  <p *ngSwitchCase="'Pedro'"> Seu nome é Pedro</p>
  <p *ngSwitchCase="'Denner'"> Seu nome é Denner</p>
</div>

<button (click)="changeName($event, 'Denner')">Trocar nome</button>

