<form #form="ngForm" (ngSubmit)="submitForm(form)">
    <label>
        Nome:
        <input type="text" name="nome" #name="ngModel" [ngModel]="name.value" required>
        <span *ngIf="!name.valid && (name.dirty || name.touched)">Invalido</span>
    </label>

    <br>
    <br>

    <label>
        Masculino
        <input type="radio" name="sexo" value="Masculino" ngModel>
    </label>

    <br>
    <br>
    
    <label>
        Feminino
        <input type="radio" name="sexo" value="Feminino" ngModel>
    </label>

    <br>
    <br>
    
    <label>
        Outros
        <input type="radio" name="sexo" value="Outros" ngModel>
    </label>

    <br>
    <br>
    
    <label>
        Angular
        <input type="checkbox" name="angular" ngModel>
    </label>

    <br>
    <br>

    <label>
        Vue
        <input type="checkbox" name="vue" ngModel>
    </label>

    <br>
    <br>

    <label>
        React
        <input type="checkbox" name="react" ngModel>
    </label>

    <br>
    <br>

    <select name="vaga" ngModel>
        <option value="">Selecione a area que deseja atuar</option>
        <option *ngFor="let item of listaVagas" [ngValue]="item">{{item.vaga}}</option>
    </select>

    <br>
    <br>

    <button [disabled]="name.invalid">Enviar dados</button>
    
</form>

{{ form.value | json }}
